
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4caf50 0%, #2c7d39 100%);
    background-size: cover;
    color: white;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    direction: rtl;
}

nav ul li {
    margin: 0 15px;
}

nav ul li.logo {
    margin-left: auto;
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    width: 90%;
    max-width: 500px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group-prepend {
    background: #eee;
    border-right: 1px solid #ccc;
}

select {
    padding: 10px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
}

input {
    padding: 10px;
    width: calc(100% - 220px);
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #25d366;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1ebe57;
}

p {
    margin-top: 20px;
    color: white;
}

.social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.social-icons a {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 0;
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #333;
    border-radius: 4px;
    text-decoration: none;
}

.social-icons a.whatsapp {
    background-color: #25d366;
}

.social-icons a.facebook {
    background-color: #3b5998;
}

.social-icons a.twitter {
    background-color: #1da1f2;
}

.social-icons a.google {
    background-color: #db4437;
}
